@model IEnumerable<nickStudyGroup.Models.PersonModel>
@{
    ViewBag.Title = "Study Group";
}

<link href="/Content/NewStyle.css" rel="stylesheet" />

<h2>ListPeople</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    <label for="searchInput">Search First Name:</label>
    <input type="text" id="searchInput" placeholder="Enter Name to Search" />
    <button type="button" class="searchBtn">Search</button>
</p>

<table class = "table" id="Study-buddies">
    <tr>
        <th>@Html.DisplayNameFor(model => model.StudentNumber)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StudentNumber)</td>
            <td class="first-name">@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)">Delete</button></td>
        </tr>
    }
</table>

<button type="button" class="saveBtn">Save</button>
<button type="button" class="retrieveBtn">Retrieve</button>
<button type="button" class="clearBtn">Clear</button>

<script src="~/Content/Script.js"></script>